@import '../../assets/stylesheets/application.scss';

.AppContainer {
    height: 70px;
    width: 100%;
    background: $VimeoBlue;
    color: $Porcelain;
    display: flex;
    font-size: $large;
    justify-content: center;
}