@import '../../assets/stylesheets/application.scss';

body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.appContainer {
    height: 100%;
    width: 100%;
    background: $PalePink;
    color: $Porcelain;
    display: flex;
    flex-direction: column;
    font-size: $large;
    justify-content: center;
}


/*** Media Queries ***/

@media screen and #{$mobile} {
    .appContainer {
        background: $Foam;
        .searchBarWrapper {
            display: none;
        }
    }

}