@import '../../assets/stylesheets/application.scss';

.searchBarWrapper {
    height: 100px;
    width: 100%;
    align-items: center;
    background: $Plaster;
    display: flex;
    justify-content: flex-end;
    
    .searchForm {
        height: 40%;
        display: flex;
        flex-direction: row;
        padding-right: 30px;

        .searchInput {
            width: 270px;
            background: $White;
            border: none;
            flex-grow: 2;
            padding-left: 5px;
        }

        .searchBtn {
            height: 100%;
            width: 30px;
            background: $White;
            border: none;
        }
    }
}