$title-font-size: 28px;
$title-font-weight: lighter;
$desc-font-size: 22px;
$desc-font-weight: lighter;
$img-dimensions: 65px;

.header {
	display: flex;
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $background-color;

	.img-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	img {
		height: $img-dimensions;
		width: $img-dimensions;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		text-align: left;
		justify-content: center;

		#title {
			font-size: $title-font-size;
			font-weight: $title-font-weight;
			color: $primary-color;
		}

		#desc {
			font-size: $desc-font-size;
			font-weight: $desc-font-weight;
			color: $secondary-color;
		}
	}
}